.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
    justify-content: center;
}
.showTurn {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    translate: 0 100px;
}
.active {
    box-shadow: 0 0 10px 10px rgb(93, 154, 215);
}