.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color: #cdc8c8;
    border-radius: 10px;
    border: solid 3px;
    box-shadow: 0 0 10px 5px;
    text-align: center;
    padding-inline: 10px;
}
.hide {
    display: none;
}
.show {
    display: flex;
}
.playAgain {
    font-size: 16px;
    padding: 5px;
    border: solid 2px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}
.playAgain:hover {
    background-color: #ece7e7;
}
.restartGame {
    translate: 0 30px;
}